
h1 {
  text-align: center;
  font-size: 50px;
}
body {
  background-color: rgb(250, 128, 114);
}
td {
  text-align: center;
  padding: 10px;
  border: 1px solid;
}
tr:nth-child(even) {
  background: rgb(233, 150, 122);
}
tr:nth-child(odd) {
  background: rgb(255, 160, 122);
}
th {
  padding: 10px;
}
p {
  text-align: center;
}
